body{
    background-color: #6e6b6b;
     font-family: "Palatino Linotype";
}

h1{
    text-align: center;
    color: white;
    font-size: 40px;
}
header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 50px;
}

nav {
  display: flex;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
  padding: 0.5rem;
}

nav a:hover {
  background-color: #fff;
  color: #333;
  border-radius: 5px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* Change background color */
    padding: 4px 10px;
  }

.navbar-logo {
    color: white; /* Change logo text color */
    font-size: 24px;
    text-decoration: none;
  }

.navbar-buttons {
    display: flex;
  }

.navbar-button {
margin-right: 15px;
color: white; /* Change button text color */
text-decoration: none;
font-weight: bold;
}
.section{
    width: 75%;
    margin: 75px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px
}

.card{
    background-color: #383636;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
}

.image-section{
    min-height: 250px;

}

.card .img-one{
    background-image: url(b1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.card .img-two{
    background-image: url(bb2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.card .img-three{
    background-image: url(b3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.card .img-four{
    background-image: url(b4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.card .img-five{
    background-image: url(b5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.card .img-six{
    background-image: url(b6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.content{
    text-align: center;
    padding: 20px 15px;
}

.content h2{
    letter-spacing: 2px;
    color: #c9c9c9;
}

.content p{
    font-size: 16px;
    color: #ada5a5;
    margin: 15px 0px;
}

.content a{
    text-decoration: none;
    font-size: 16px;
    color: #222;
    letter-spacing: 2px;
    display: inline-block;
    background-color: #d6c954;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.content a:hover{
    background-color: #87803d;
    transition: 1s ease;
}

.content span{
    color: white;
}
footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
  margin-top: auto;
}